<section class="header-11-sub">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>The CoderChat for everyone</h3>
                <p>CoderChat is the SnapChat-like app just for learning Ruby on Rails purpose.</p>
                <%= render 'users/form' %>
                <div class="additional-links">By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy</a></div>
            </div>
            <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                <div class="player">
                    <img src="<%= image_path('connect') %>" alt="Connect" />
                </div>
            </div>
        </div>
    </div>
</section>
